<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="ISpider, SpiderClient" url="http://127.0.0.1/nettest2/Spider/Spider.rem" />
      </client>
      <channels>
        <channel ref="http" port="0"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
