<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="Spider, SpiderObj"
          objectUri="Spider.rem" />
      </service>
      <channels>
      	<channel ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
   <appSettings>
    	<add key="maxTasks" value="60" />
    	<!-- TaskStoreTime in minutes -->
    	<add key="TaskStoreTime" value="3" />
    	<!-- abs path required (relative paths are to %system% dir) -->
        <add key="TempDir" value="d:\part2\temp1\" />
    </appSettings>
</configuration>