<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="Spider, SpiderObj" objectUri="Spider" />
      </service>
      <channels>
        <channel ref="tcp" port="8123" />
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
  	<add key="maxTasks" value="60" />
  	<!-- TaskStoreTime in minutes -->
  	<add key="TaskStoreTime" value="3" />
  </appSettings>
</configuration>