<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="ISpider, SpiderClient" url="tcp://127.0.0.1:8123/Spider" />
      </client>
      <channels>
        <channel ref="tcp" port="0"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
